html {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 30px;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  html {
    line-height: 24px;
    font-size: 16px;
  }
}

@media print {
  html {
    line-height: 24px;
    font-size: 16px;
  }
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fafafa;
  height: 100vh;
  overflow: hidden;
  color: #555;
}

nav {
  display: flex;
  flex-direction: column;
  width: 350px;
  background: #555;
  border-right: 1px solid #555;
  box-sizing: border-box;
}

main {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

main>article {
  display: block;
  padding: 2vw 5vw;
  max-width: 50rem;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  main>article {
    padding: 0px 20px;
  }
}

@media print {
  main>article {
    padding: 0px 20px;
  }
}

main>article h1 {
  font-size: 1.8rem;
  margin: 1.8rem 0;
}

main>article h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  border-bottom: 1px solid #ccc;
}

main>article h3 {
  font-weight: 300;
  font-size: 1.3rem;
  margin: 1.3rem 0 .6rem;
}

main>article p {
  font-size: 1.1rem;
}