[hidden=false] {
  opacity: 1;
  animation: fadeIn .4s ease-in;
}

[hidden=true] {
  display: none !important;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  font-family: roboto;
  line-height: 1.6rem;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fafafa;
  height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  width: 350px;
  background: #555;
  border-right: 1px solid #555;
  box-sizing: border-box;
}

main {
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

main area-basic {
  display: block;
  padding: 3rem;
}

main article.mdown {
  display: block;
}

main article.mdown unit-md {
  border-bottom: 1px solid #ddd;
}