html {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 30px;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  html {
    line-height: 24px;
    font-size: 16px;
  }
}

@media print {
  html {
    line-height: 24px;
    font-size: 16px;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fafafa;
  height: 100vh;
  overflow: hidden;
  color: #555;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 26vw;
  max-width: 350px;
  background: rgb(30, 42, 49);
  border-right: 1px solid #555;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 26vw;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

main>article {
  display: block;
  padding: 2vw 5vw;
  max-width: 50rem;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  main>article {
    padding: 0px 20px;
  }
}

@media print {
  main>article {
    padding: 0px 20px;
  }
}

main>article h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 2rem 0 1.5rem;
}

main>article h2 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 1.5rem 0;
  border-bottom: 1px solid #ccc;
}

main>article h3 {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.9rem;
  margin: 1.3rem 0 .6rem;
}

main>article p {
  font-size: 1rem;
}